.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cart-item {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 420px;
}

.cart-item > img {
    width: 120px;
    height: 120px;
}
.cart-item > button {
    height: 10%;
}

.total {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 420px;
    border-top: 1px solid #ccc;
    gap: 30px;
}

.text {
    display: flex;
    justify-content: space-around;

}
.text > p {
    margin-top: 10px;
    display: flex;
}

button.disabled {
    cursor: default;
    background-color: #999;
}