.cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #ccc;
    width: 70%;
    border-radius: 4px;
}

.card:hover {
    background-color: #f1f1f1;
}

.card > h1 {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
}

.card > p {
    font-size: 20px;
}

button.disabled {
    cursor: default;
    background-color: #999;
}
